body {
  background-color: rgb(2, 14, 54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
*{
  margin: 0;
  padding: 0.3%;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-size: 15px;
}

.landingparagraph {
  color: rgb(52, 156, 4);
  margin-left: 80px;
  margin-right: 80px;
  font-size: 25px;
}
.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: .5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: .5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
} 
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
.landing-container {
  font-family: "Courier Prime", monospace;
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5vh;
}
.scroll {
  margin-top: -10vh;
  animation-delay: 2s  ;
}
.scroll img {
  width: 7vh;
  height:5vh;
  margin-top: 10px;
}
header h1 {
  font-size: 70px;
  font-weight: 500;
  color: #cdc9d8;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end, typing 7s infinite steps(30);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: #000;}
}

@keyframes typing{
  0%{ width: 0ch}
  30%{ width: 29ch;}
  80%{ width: 29ch;}
}

.animate__backInDown {
  font-size: 3vh;
}
.animate__backInLeft {
  animation-delay: 9s;
}
.fixed {
  font-size: 5vh;
  animation-delay: 3.5s;
}
.one {
  animation-delay: 4s;
}
.three {
  animation-delay: 5s;
}
.five {
  animation-delay: 6s;
}
.two {
  animation-delay: 4.5s;
}
.four {
  animation-delay: 5.5s;
}
.six {
  animation-delay: 6.5s;
}

.landing {
  max-width: 800px;
  max-height: 900px;
  margin: 0 auto;
  padding: 200px;
  border: 5px solid #01cfbe;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
}
.landing:hover {
  transform: scale(1.1); 
}

.box {
  position: relative;
  margin-left: 45%;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)* 45deg)) translate(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
  animation-delay: 7s;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.input__container {
  position: relative;
  background: rgba(255, 255, 255, 0.664);
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  max-width: 450px;
  transition: transform 400ms;
  transform-style: preserve-3d;
  transform: rotateX(15deg) rotateY(-20deg);
  perspective: 500px;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(30px);
  border-radius: 20px;
  background-color: #999cff;
  background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
    radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
    radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
    radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
    radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
    radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
    radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);
}

.input__button__shadow {
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 400ms, background 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 5px;
}

.input__button__shadow:hover {
  background: rgba(255, 255, 255, 0.411);
}

.input__search {
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 8px;
  position: relative;
}
.button2 {
  position: relative;
  width: 120px;
  height: 40px;
  margin-left: 130px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button2::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button2:hover::after {
  filter: blur(30px);
}

.button2:hover::before {
  transform: rotate(-180deg);
}

.button2:active::before {
  scale: 0.7;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  border-radius: 20vh;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-links {
  display: flex;
  gap: 25vh;
  margin-left:-20vh;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffa500;
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
  margin-left: 30vh;
  margin-top: -0.5vh;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 45px;
  width: 150px;
  border: none;
  background: rgb(74, 180, 50);
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  margin-left: 25vh;
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #fff;
  margin-left: 20px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.profile-button .span {
  border-radius: 50%;
  background-color: rgb(48, 129, 29);
  padding: 10px;
  position: absolute;
  left: 0;
}

.profile-button:hover {
  background: rgb(48, 129, 29);
}

.profile-button:hover .svg-icon {
  animation: slope 0.8s linear infinite;
}

@keyframes slope {
  0% {
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
  }
}
.about-container {
  margin-bottom: 40vh;
  background-image: url("./about.jpg");
  background-size: cover;
  height: 127vh;
  width: 200vh;
  margin-top: -23px;
}

h1 {
  color: #3490dc;
  text-align: center;
  margin-top: 10vh;
}

.about-p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 20px;
  color: #000;
}
.about-footer {
  margin-bottom: -40vh;
  width: 190vh;
  font-size: 20px;
  margin-left: 3vh;
  color: #000;
}
.nb {
  margin-top:5vh;
  width: 190vh;
  margin-left: 60px;
}
.email, .phone {
  color: blue;
}