.create-account-page {
  background-image: url("./create-account.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: -40px;
  margin-bottom: -30px; 
  width: 200vh;
}
#form-body {
  position: absolute;
  top: 30%;
  right: 25px;
  left: 25px;
  width: 350px;
  margin: -156px auto 0 auto;
  margin-left: 50vh;
  margin-top: -23vh;
}

#welcome-lines {
  line-height: 1;
}

#welcome-line-1 {
  color: #00FF7F;
  font-weight: 1000;
  font-size: 40px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 25px;
  margin-top: 17px;
}

#input-area {
  margin-top: 40px;
}
.form-inp {
  padding: 14px 25px;
  background: transparent;
  border: 3px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 20.4px;
  border: none;
  padding: 0;
  color: #ffffff;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: #00FF7F;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #00FF7F;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

#submit-button:hover {
  transition: all ease-in-out .3s;
  background-color: #00FF7F;
  color: #161616;
  cursor: pointer;
}
  
.success-notif {
  background-color: #28a745;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 840px;
  width: 50vh;
  margin-left: 46vh;
}